body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

.full-info_about_me {
  margin-top: 10px;
  padding-left: 90px;
  padding-right: 90px;
}
.full-info_about_me a {
  color: black;
  text-decoration: none;
}

.all_data_section {
  background-color: #ffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1450px;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.about_me_section {
  background-color: #ffff;
  margin-bottom: 10px;
}

.my_name {
  filter: drop-shadow(0px 4px 4px #a09f9f);
}
/*============project section===============*/
.my_projects_section,
.my_courses_section {
  margin-bottom: 10px;
}
.projects,
.courses {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 6px;
}

.projects_list,
.courses_list {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
}
.projects_item,
.courses_item {
  font-weight: 700;
  padding: 5px;
  font-size: 14px;
}
.projects_text,
.courses_text {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
.bracket {
  font-weight: 700;
  color: black;
}
.projects_list a {
  font-weight: 400;
  color: grey;
}
.projects_list span {
  font-style: normal;
}

.my_profession {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 17px;
  filter: drop-shadow(0px 4px 4px #a09f9f);
}
.my_name {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
}
.about_me {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  filter: drop-shadow(5px 5px 5px #424344);
}
.work_experience {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 26.82px;
  margin-bottom: 5px;
}

.job_responsibilities,
.projects_list,
.courses_list {
  padding-left: 17px;
  margin-top: 0px;
  text-align: left;
}
.projects_list {
  padding-left: 17px;
  margin-top: 0px;
  text-align: left;
}
.time_work {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 5px;
  color: #a8a8a8;
  margin: 5px auto 5px auto;
}
.stick_separator {
  color: black;
  font-style: bold;
  font-weight: 500;
}
.specialization {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19.5px;
  margin-bottom: 12px;
}

.enterprise {
  color: #fb6d3a;
}

/*==================university=============*/
.university {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19.5px;
  color: #fb6d3a;
}

.eduvation {
  margin-top: 11px;
  margin-bottom: 12px;
}
.university {
  margin-top: 12px;
  margin-bottom: 12px;
}

.specialization_university {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 17.07px;
  margin-top: 12px;
}

/*===========sidebar_section=============================*/
.sidebar_section {
  background-color: #1e2939;
}

.sidebar_section span {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  
}

.sidebar_data_section {
  color: #ffff;
  background-color: #1e2939;
  padding-left: 10 px;
  padding-top: 40px;
}
.sidebar_data_section a {
  color: #ffff;
  text-decoration: none;
}
.sidebar_section li {
  list-style-type: disc; /* Прячем исходные маркеры */
  color: #df653a;
}

.contacts_section {
  margin-top: 51px;
  padding-left: 40px;
}
.contacts_section span {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.contacts_section a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  opacity: 50%;
}

.tech_skils_section,
.soft_skils_section,
.software_section {
  padding-left: 40px;
  margin-top: 47px;
}
.skils_list {
  padding-left: 17px;
  margin-top: 0px;
  text-align: left;
}

@media only screen and (max-width: 1100px) {
  .all_data_section {
    padding: calc(20px + (50 - 20) * ((100vw - 1080px) / (1600 - 1080px)));
    font-size: calc(20px + (30 -20) * ((100vw - 1080px) / (1600 - 1080px)));
    margin-bottom: calc(10px + (20 -10) * ((100vw - 1080px) / (1600 - 1080px)));
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    height: auto;
  }
  .sidebar_data_section {
    padding-top: 10px;
    overflow: auto;
  }

  .full-info_about_me {
    padding-top: 10px;
    padding-left: 10px;
    margin-top: -0px;
  }
  .desctop {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
  }
  .block_scren li {
    list-style-type: decimal;
  }
}

@media (min-width: 1101px) {
  .block_scren {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
  }
}
